{% extends "base.html" %}

{% block title %}YouTube Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
    <h2 class="text-center">YouTube Dashboard</h2>

    <div class="channel-info">
        <h3>Channel Stats:</h3>
        <p><strong>Channel Name:</strong> {{ channel_stats[0]['Channel_name'] }}</p>
        <p><strong>Subscribers:</strong> {{ channel_stats[0]['Subscribers'] }}</p>
        <p><strong>Views:</strong> {{ channel_stats[0]['Views'] }}</p>
        <p><strong>Total Videos:</strong> {{ channel_stats[0]['Total_videos'] }}</p>
    </div>

    <div class="video-details">
        <h3>Video Details:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Published Date</th>
                    <th>Views</th>
                    <th>Likes</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for video in video_details %}
                    <tr>
                        <td>{{ video['Title'] }}</td>
                        <td>{{ video['Published_date'] }}</td>
                        <td>{{ video['Views'] }}</td>
                        <td>{{ video['Likes'] }}</td>
                        <td>{{ video['Comments'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="viewsChart" class="mt-4"></div>
    <script>
        var titles = {{ video_details | map(attribute='Title') | list | tojson }};
        var views = {{ video_details | map(attribute='Views') | list | tojson }};
        var likes = {{ video_details | map(attribute='Likes') | list | tojson }};

        Plotly.newPlot('viewsChart', [{
            x: titles,
            y: views,
            type: 'bar',
            marker: { color: 'blue' },
            name: 'Views'
        }], {
            title: 'Views per Video',
            xaxis: { title: 'Video Titles' },
            yaxis: { title: 'Number of Views' }
        });

        Plotly.newPlot('likesViewsScatter', [{
            x: likes,
            y: views,
            mode: 'markers',
            type: 'scatter',
            marker: { color: 'red' },
            text: titles,
            name: 'Likes vs Views'
        }], {
            title: 'User Interaction',
            xaxis: { title: 'Likes' },
            yaxis: { title: 'Views' }
        });
    </script>
{% endblock %}
